Pandas is a python library that enables easy exploration of structured data. This notebook will explore a dataset with pandas and introduce some common operations.

For each function below, there are many options available and pandas has excellent documentation.

For documentation in the notebook, type: pd.read_csv?
For source code, type: pd.read_csv??

In [4]:
import pandas as pd
import numpy as np

## Read data

pandas has functions to read data from a variety of sources - CSV files, excel spreadsheets, a sql database, json files etc. The central two data structures are: 

pd.DataFrame (multiple columns) - think tables

pd.Series (single column ordered by an index) - think time-series

#### Question: Read data from CSV file into a dataframe. Bonus points: Read ~10% of the rows (hint: see argument skiprows)

## Explore data

#### Question: Print the number of rows and columns in the dataframe

#### Question: Print the top 10 rows

#### Question: Print the last 10 rows

#### Question: Print the 5th row (hint: see iloc)

#### Question: Print a statistical summary of the data (hint: describe())

#### Question: Print all the column names in the dataframe

## What data is this?

The Large Hadron Collider directs two beams of protons into each other at very high speeds/momenta/energies. Each collision is analogous to two ballons filled with water and glass beads inside them. When they collide, the balloons burst and the beads in one bag "collide" with beads in another bag. Most pairs of beads just "graze" each other and these are called elastic collisions (these actually result in the production of light particles e.g. pions).

The interesting collisions are one where the protons hit "head-on" and result in the disintegration into internal constituents of the proton which are made of particles called quarks and gluons. Each collision is called an **event**.

This data consists of an event for each row. Each event results consists of properties of particles produced during the collision. You'll see terms like **jet**, **met**, **tau**, **lep** that refer to these particles. **PRI** refers to primary i.e. values that are directly observed. **DER** refers to values *derived* from primary values.

**pt**, **delta**, **phi**, **eta** refer to various angles/momenta measured during the collision.

**Central Task**: the goal here is to predict the value in the column Label. We won't be predicting it but will explore the data.

#### Question: Look at the values in column "Label"

#### Question: Print all unique values in "Label"

#### Question: Find all unique values and their counts in "Label" (avoid for loops)

#### Question: Select two columns - "Label" and "PRI_jet_num"

#### Question: Find every unique combination of the two columns. In otherwise, only keep unique tuples and remove duplicate rows.

#### Question: After removing duplicates, sort result by "Label" and "PRI_jet_num"

#### Question: Sorting a large dataframe will create another copy. Is there a way to do this in a more memory-efficient manner (hint: see arguments to the sorting function)

### Filtering data

#### Question: Select all rows where "Label" = "s". How many rows do you get?

### Useful concepts and operations

### Index

#### Question: Print out the index values in the dataframe

#### Question: Set "EventId" as the index

#### Question: Set both "EventId" and "Label" as indices (tuple-valued index)

### Group by

#### Question: Group the data by "Label" and get the number of rows in each group ("s" and "b")

#### Question: Group the data by "Label" and get the mean value in each group for each column

#### Question: Group the data by "Label" and get the standard deviation value in each group for each column

#### Question: Group the data by "Label" and 
1. get the percentage of rows in each group for the column "DER_mass_MMC"
2.the sum of the squares of the values in each group for the column "DER_pt_h"

#### Question: Group the data by "Label" and loop over each group (name of group and data associated with it)

### Column-wise or row-wise operations - apply

#### Question: Choose the first 10 columns and find the mean across each column

#### Question: Choose the first 10 columns and find the mean across each row

#### Question: Choose the first 10 rows and compute the ratio of the columns "PRI_jet_all_pt" to "PRI_jet_num" (average jet pt)

### Drop columns and rows

#### Question: Drop/remove the column "PRI_jet_all_pt" from the dataframe. Check the number of columns before/after dropping it. Is there a memory efficient way of doing this?

#### Question: Use the same function to drop the first 10 rows

### Dealing with nulls

#### Question: Check if the data has any nulls in any column

#### Question: Drop all rows with >=1 nulls and check how many rows are left

#### Question: Replace all nulls with a fixed value, say 0

#### Question: Replace all nulls in a single column ("PRI_jet_subleading_pt") with a fixed value

### Replacing values

#### Question: Look at the unique values and their counts in the column "PRI_jet_subleading_pt"

#### Question: "PRI_jet_subleading_pt" has empty values but they are not NaNs but are instead populated by -999. Replace all these values with np.nan

### Pivot Tables

#### Question: Create a pivot table to get the average value in each group specified by "Label" and "PRI_jet_num" (can be done with groupbys too but we want a pivot table)

#### Question: Create a pivot table to get the standard deviation in each group specified by "Label" and "PRI_jet_num" (can be done with groupbys too but we want a pivot table)

### One-hot encoding

Machine learning algorithms are statistical in nature and cannot handle string-valued columns without pre-processing. There are multiple ways to convert string columns to numerical ones but probably the most common way is one-hot encoding. An example will make this clear:

Column A

Apple

Mango

Apple

Apple

Strawberry

One-hot encoded value will count the number of unique values in column (3 in this case) and map each one to:

Apple -> (1,0,0)

Mango -> (0,1,0)

Strawberry -> (0,0,1)

#### Question: Look at the first 10 values of "Label"

#### Question: Convert "Label" to one-hot encoded values (hint: see pd.get_dummies)

### Plotting

While exploring data, plotting and visualization is a key component. One can treat pandas columns as numpy arrays and use matplotlib or use python's wrappers for visualization.

In [3]:
import matplotlib.pylab as plt
%matplotlib inline

#### Question: Make a histogram for "PRI_jet_num"

#### Question: Plot "PRI_jet_all_pt"

#### Question: Make a histogram for "PRI_jet_all_pt"


#### Question: (Scatter( Plot PRI_let_pt vs PRI_jet_all_pt

#### Question: Make a density plot of PRI_jet_all_pt

### Concatenation

#### Question: Split the data into two pieces with part 1: first 10 columns, part 2: columns 10-20

#### Question: concat the two pieces together to form the original dataset again

### Joins

#### Question: Suppose we are provided the dataset below. We want to add relevant columns to our dataframe i.e. join the two dataset. How would you do that (hint: merge)?

In [7]:
df2 = pd.DataFrame({'Label': ['s', 'b'], 'Title': ['Supersymmetry', 'StandardModel'], 'LSPMass': [1000, np.nan]})

In [8]:
df2

  Label          Title  LSPMass
0     s  Supersymmetry   1000.0
1     b  StandardModel      NaN